<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "/>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Cadastros Básicos</h1>
      <p><a class="btn btn-success" href="/produtos">Produtos Cadastrados</a></p>
      <p><a class="btn btn-success" href="/fornecedores">Fornecedores Cadastrados</a></p>
    </div>
    <hr />
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
  </body>
</html>
