<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} " />
</head>
<body>
    <div class="container">
        <div class="col-md-6">
            <h1>Cadastrar novo produto</h1>
            <form action="#" th:action="@{/produto}" th:object="${produto}" method="POST">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" th:field="*{nome}" id="nome"
                        placeholder="Digite o nome do produto">
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button>
                <a class="btn btn-success" href="/produtos">Voltar</a>
            </form>
        </div>
    </div>
</body>

</html>